@import "../../assets/css/color.scss";

.Article {
  background-color: $white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20%;

  .container {
    display: inline-block;
    float: left;
    margin: 0px 10px;
  }

  .description {
    width: calc(70% - 20px);

    .container_image {
      width: 100%;
      height: 70vh;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;

      img {
        margin: 0px auto;
        max-height: 100%;
        max-width: 100%;

      }
    }

    .container_description {
      .description_title {
        font-size: 23px;
        margin: 20px 0px;
      }

      .description_text {
        font-size: 12px;
        color: $grey_black;
        line-height: 15px;
      }

    }
  }

  .price {
    width: calc(30% - 20px);
    .sold {
      font-size: 12px;
      color: $grey_black;
      margin-bottom: 10px;
    }

    .article_name {
      font-size: 23px;
      margin-bottom: 10px;
    }

    .article_price {
      font-size: 35px;
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 30px;
      cursor: pointer;
      border-radius: 5px;
      background-color: $blue;
      color: $white;
    }
  }

}
